.section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.productsFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  gap: 2.4rem;
  align-items: start;
  justify-content: space-between;

  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.productsSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;

  width: 100%;
}

@media (width <= 860px) {
  .content {
    flex-direction: column;
    gap: 1.6rem;
  }

  .aside {
    width: 100%;
  }
}
