.total {
  display: flex;
  gap: 2rem;
  align-items: center;
  align-self: end;
  justify-content: space-between;

  width: 100%;
  max-width: 30%;
  padding: 1.6rem 0;

  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-text-secondary);
}

.value {
  font-size: 2rem;
  color: var(--color-text-secondary);
}

@media (width <= 768px) {
  .total {
    max-width: 50%;
    padding: 1.2rem;
    font-size: 1.6rem;
  }

  .value {
    font-size: 1.8rem;
  }
}
