.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}
