.header {
  width: 100%;
  background-color: rgb(181 181 181);
}

.nav {
  max-width: 144rem;
  margin: 0 auto;
  padding: 1.2rem 2rem;
}

.menu {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: end;

  list-style: none;
}

.link {
  position: relative;

  font-size: 1.4rem;
  color: black;
  text-decoration: none;

  transition: color 0.25s ease-in-out;
}

.link:hover {
  color: blueviolet;
}

.active {
  color: blueviolet;
}

.coin {
  position: absolute;
  top: -1rem;
  right: -1rem;

  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;

  font-size: 1rem;
  color: white;
  text-align: center;

  background-color: brown;
}
