:root {
  --color-bg: #fdfdfd;
  --color-header-bg: #b5b5b5;
  --color-card-bg: #e8e7e7;
  --color-text: #000;
  --color-secondary-text: #7e8697;
  --color-link: blueviolet;
  --color-link-hover: #7f00ff;
  --color-border: #e5e5e5;
  --color-panel-border: #c4c4c4;
  --color-button-bg: #626f84;
  --color-button-hover: #484e5b;
  --color-cart: brown;
  --color-remove: #f26f71;
  --color-remove-hover: #c53c3f;
  --color-in-stock: #01a53d;
  --color-out-of-stock: #f66161;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --color-bg: #acacac;
  --color-header-bg: #888;
  --color-card-bg: #727070;
  --color-text: #e0e0e0;
  --color-secondary-text: #373a40;
  --color-link: #bb86fc;
  --color-link-hover: #d0aaff;
  --color-border: #333;
  --color-panel-border: #2c2c2c;
  --color-button-bg: #333;
  --color-button-hover: #444;
  --color-cart: #ff5c5c;
  --color-remove: #e13c3f;
  --color-remove-hover: #c53c3f;
  --color-in-stock: #3fcf7f;
  --color-out-of-stock: #f88a8a;
  --color-theme-toggle-bg: #1f1f1f;
  --color-theme-toggle-hover: #2a2a2a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  background-color: var(--color-bg);
}

button {
  cursor: pointer;

  padding: 0.6rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 8px;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-text);

  background-color: var(--color-button-bg);

  transition:
    border-color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
}

button:hover {
  background-color: var(--color-button-hover);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

ul {
  list-style: none;
}
